body {
  margin: 0;
  text-align: center; /* will center everything inside that DOESN'T HAVE WIDTH SET */
  font-family: "Merriweather", serif; /* browser will grab these fonts in order of specificity and availability */
  /*font-size: 2em*/ /* font size is multiplicative (if using em and %), so this will double any existing font size delcarations */
  background-color: #2e2d2d;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Delius Swash Caps', cursive;
  font-size: 5.625rem; /* 100% = 16px = 1em; em = phonetic "M" */
  /* rem vs em: rem ignores parent size conditions, will not multiply */
  color: #c4dcff;
  line-height: 1.2
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #a3c8ff;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  /*color: #ffab2e;*/
  color: #8cb1ea;
}

p {
  color: #eeeeee;
}

table {
  margin: auto;
  width: 60%;
}

tr {
  width: 25%;
}

td {
  vertical-align: top;
  width: 25%;
  padding-left: 30px;
  padding-right: 30px;
}

.menubar-container {
  height: 35px;
  background-color: #a5cbff;
  text-align: left;
  padding: 20px;
}

.home-button {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 26px;
  color: #161719;
  padding-left: 20px;
  padding-right: 20px;
}

.github-button {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 26px;
  color: #161719;
  padding-left: 20px;
  padding-right: 20px;
}

.programmer-h2 {
  font-weight: normal;
}

.profile-img {
  height: 250px;
}

.aboutme-paragraph {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}

.top-star {
  position: absolute;
  left: 300px;
  top: 40px;
  width: 80px;
}

.bottom-star {
  position: absolute;
  right: 285px;
  bottom: 250px;
  width: 80px;
}

.top-container {
  background-color: #131313;
  position: relative;
  padding-top: 90px;
}

.middle1-container {
  padding-top: 55px;
  background-color: #2e2d2d;
}

.bottom-container {
  margin-top: 50px;
  padding: 10px;
  padding-top: 30px;
  background-color: #a5cbff;
}

.footer-link {
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #276cd3;
  text-decoration: none;
}

.copyright-paragraph {
  color: #161719
}

.credit-paragraph {
  color: #161719
}

.dotted-line {
  border-style: none;
  border-top-style: dotted;
  border-color: #d4d3d3;
  border-width: 6px;
  width: 10%;
  margin: 100px auto 100px auto;
}

.java-img {
  width: 180px;
  float: left;
  margin-right: 30px;
}

.webdev-img {
  width: 180px;
  float: right;
  margin-left: 30px;
}

.ms-img {
  width: 170px;
  float: left;
  margin-right: 30px;
}

/*
.java-skill-description {
  clear: left;
}

.webdev-skill-description {
  clear: right;
}

.ms-skill-description {
  clear: left;
}
*/

.middle2-container {

}

.school-title {
  display: inline-block;
  width: 30%;
}

.java-project-title {
  display: inline-block;
  width: 30%;
}

.school-description {
  display: inline-block;
  text-align: center;
  line-height: 2;
}

.java-project-description {
  display: inline-block;
  text-align: center;
  line-height: 2;
}

.school-img {
  width: 250px;
}

.hiking-img {
  width: 250px;
}

.skill-row {
  width: 60%;
  margin: 90px auto 90px auto;
  text-align: left;
  line-height: 2;
  height: 160px;
}

.getInTouch-paragraph {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}

.contact-button {
  margin: 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #2E2D2D;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 18px;
  background-color: #8CB1EA;
  transition: background-color .15s;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.contact-button:hover {
  background: #C1D0E6;
  border: solid #FFFFFF 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}
